@font-face {
  font-style: normal;
  font-family: Nunito;
  src: url("/lib/font-nunito/Nunito-Regular.ttf");
}

@font-face {
  font-style: medium;
  font-family: Nunito;
  src: url("/lib/font-nunito/Nunito-Medium.ttf");
}

html {
  border: none;
}

body {
  font-family: Nunito, sans-serif;
  font-size: 16px;
}

body h1, body h2, body h3, body h4, body h5, body h6,
body .h1, body .h2, body .h3, body .h4, body .h5, body .h6 {
  font-family: Georgia, Cambria, serif;
}

body h1, body .h1 {
  font-size: 2em;
}

/*
body h1, body .h1 {
  color: #02508F;
}
*/

.h1 a.more {
  cursor: pointer;
}

.h1 a.more:hover:after {
  content: ' ❯';
}

.alt {
  display: none;
}

a.no-underline:not(:hover) {
  background: none !important;
}

#footer a.icon {
  text-decoration: none;
}

#footer {
  font-size: 12px;
}

#footer .footer-left {
  height: initial;
}

#footer .footer-left .links {
  display: inline-block;
}

#section-desc {
  margin-top: 10px;
}

.content.index {
  padding-bottom: 6rem;
}

@media (max-width: 499px) {
  .content.index #recent .h1 {
    margin-top: 0;
  }
}

article .content h2,
article .content h3,
article .content h4,
article .content h5,
article .content h6 {
  color: #444;
  text-decoration: none;
}

article header .posttitle {
  font-size: 1.6rem;
}

article header .meta * {
  font-size: 1rem;
}

article .content h2 {
  font-size: 1.3rem;
}

article .content h3 {
  font-size: 1.1rem;
}

article .content h2:before {
  font-size: 30px;
  left: -1.5rem;
  top: -2px;
  visibility: hidden;
}

article .content h2:hover:before {
  /*visibility: visible;*/
}

article .content {
  font-family: Charter, Georgia, Cambria, serif;
  font-size: 21px;
  text-align: left;
  overflow-wrap: unset;
  hyphens: unset;
}

article .content,
article .content p,
article .content li {
  text-align: left;
  overflow-wrap: unset;
  hyphens: unset;
  font-size: 18px;
}

article .content p {
  margin-bottom: 0.5em;
}

article .content p + ul {
  margin-top: 0;
}

article .content ul {
  padding-left: 1.8em;
}

article .content code {
  background: #f0f0f0;
  font-size: 14.5px;
  border: none;
  font-family: "JetBrains Mono", monospace;
}

article .content .highlight {
  background: #f0f0f0;
}

article blockquote p {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0 0 0 1.5rem;
  color: #2b2b2b;
}

@media (min-width: 500px) {
  article .content .highlight {
    margin: 1rem -2rem;
    padding: 20px 30px;
  }
}

@media (max-width: 499px) {
  article .content .highlight {
    margin: 1rem -1rem;
  }
}

article .content pre code {
  font-size: 12.5px;
  font-family: "JetBrains Mono", monospace;
}

article .content pre {
  overflow: initial;
  border: none;
}

article .content pre + pre {
  margin-top: 1rem;
}

article header .meta {
  margin-top: 1rem;
}

@media (max-width: 499px) {
  article .content pre {
    padding: 1rem 1rem;
    margin: 0 -0.9rem;
  }

  article .content pre + pre {
    margin-top: 0.5rem;
  }
}

@media (min-width: 728px) {
  article header .posttitle {
    font-size: 2.2rem;
  }

  article .content h2 {
    font-size: 1.7rem;
  }

  article .content h3 {
    font-size: 1.35rem;
  }

  article .content,
  article .content p,
  article .content li {
    font-size: 21px;
  }

  article .content code {
    font-size: 17px;
  }

  article .content pre code {
    font-size: 14px;
  }
}

.content a {
  background-image: linear-gradient(transparent, transparent 5px, #aaa 5px, #aaa);
}

.content a:hover {
  background-image: linear-gradient(transparent, transparent 4px, rgba(204, 42, 65, 0.6) 4px, rgba(204, 42, 65, 0.6));
  /*background-image: linear-gradient(transparent, transparent 4px, rgba(2, 80, 143, 0.6) 4px, rgba(2, 80, 143, 0.6));*/
}

.content a.icon:hover {
  background-image: none;
  color: rgba(86, 124, 119, 0.9);
}


.content #header #title {
  margin-right: 0;
}

@media screen and (max-width: 500px) {
  #header-post {
    display: block;
  }
}

@media screen and (max-width: 499px) {
  #header-post {
    display: none;
  }
}

#header-post {
  float: left;
  left: 0;
  right: initial;
  top: 0;
}

#header-post #menu-icon {
  float: left;
  color: #aaa;
  margin: 0;
  padding: 1.3rem 1rem 1rem 1.6rem;
}

#header-post #menu-icon-tablet {
  color: #aaa;
  margin: 0;
  padding: 1rem 0.5rem 0.5rem 0.6rem;
}

#header-post #menu-icon:hover,
#header-post #menu-icon-tablet:hover {
  opacity: 1 !important;
}

#header-post #menu-icon:hover .icon-text,
#header-post #menu-icon-tablet:hover .icon-text {
  visibility: visible;
}

#header-post #menu-icon:hover,
#header-post #menu-icon-tablet:hover {
  background-color: #fafafa;
}

#header-post .icon-text {
  visibility: hidden;
  font-size: 1.2em;
}

@media (min-width: 480px) {
  .article-tag:before, .article-category:before {
    content: none;
  }
}

.article-tag {
  display: inline;
}

.article-tag .fa-tag:before {
  content: none;
}

.article-tag .tag-link:before {
  content: none;
}

#header a, #projects .h1 a {
  cursor: default;
}

#search-result p.search-result {
  text-align: left;
}

#header #nav {
  display: none;
}

#header #logo {
  background-size: cover;
  width: 100px;
  height: 150px;
  margin: -40px 40px -10px -15px;
  mix-blend-mode: multiply;
}

#footer {
  font-size: 16px;
}

#footer-post #actions-footer {
  display: flex;
  padding: 0;
  margin: 0;
}

#footer-post #actions-footer a {
  flex: 1 0 0;
  margin: 0;
  padding: 1rem 0;
  padding-bottom: calc(1rem + env(safe-area-inset-bottom) * 2);
}

#footer-post #actions-footer a#menu {
  display: none;
}

#footer-post #actions-footer a#top {
  display: none;
}

#footer-post #actions-footer .hidden {
  visibility: hidden;
}

#footer-post {
  border-top: solid 1px #aaa;
}

#footer-post #share-footer {
  background-color: #f5f5f5;
  border-bottom: solid 1px #ddd;
}

#footer-post #toc-footer {
  background-color: #f5f5f5;
  border-bottom: solid 1px #ddd;
  box-shadow: 0 0 100px 10px rgba(120, 120, 120, 0.5);
}

#footer-post #toc-footer #TableOfContents > ul > li:before {
  display: none;
}

#footer-post #toc-footer #TableOfContents > ul > li,
#footer-post #toc-footer .toc-header a {
  font-size: 1em;
  color: #666;
  list-style-type: none;
}

#footer-post #toc-footer #TableOfContents > ul > li > ul > li:before {
  display: none;
}

#footer-post #toc-footer #TableOfContents > ul > li a,
#footer-post #toc-footer .toc-header {
  font-size: 1.1em;
  line-height: 3em;
}

#footer-post #toc-footer #TableOfContents > ul > li > ul > li {
  font-size: 1em;
}

#footer-post #toc-footer #TableOfContents > ul > li > ul > li > ul > li,
#footer-post #toc-footer .toc-header {
  display: list-item;
  padding-left: 10px;
}

#footer-post #toc-footer #TableOfContents,
#footer-post #toc-footer .toc-header {
  padding-left: 20px;
  font-family: Georgia, Cambria, serif;
}

#footer-post #toc-footer #TableOfContents ul {
  padding-left: 0;
}

#footer-post #toc-footer a:hover {
  color: rgb(34 39 42 / 50%)
}

#footer-post #toc-footer #TableOfContents .alt {
  display: inline;
}

/* twitter */

.content blockquote.twitter-tweet {
  padding-left: 20px;
  font-weight: 400;
  font-size: 0.9em;
  color: #22272a;
}

.content blockquote.twitter-tweet:before {
  margin-left: -20px;
  color: #22272a;
}

.published-at {
  display: block;
}

.published-at a {
  display: inline-block;
  text-decoration: none;
  background-image: none;
  font-weight: 600;
}

.post-list .post-item .meta {
  font-size: 1rem;
}

.project-list .project-item {
  display: flex;
}

.project-list .project-item .meta {
  display: block;
  margin-right: 16px;
  color: #666;
  font-size: 1rem;
}

#speaking .project-list .project-item .meta {
  min-width: 45px;
}

#projects .project-list .project-item .meta {
  min-width: 140px;
}

#projects2 .project-list .project-item {
  display: block;
  padding-bottom: 10px;
}

#projects2 .project-list .project-item .meta {
  display: flex;
  min-width: 80px;
}

#projects2 .project-list .project-item .name-list {
  display: flex;
}

#projects2 .project-list .project-item .name + .name {
  padding-left: 10px;
}

#projects2 .project-list .project-item .meta {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.desc-cv, .cv {
  font-family: Charter, Georgia, Cambria, serif;
  font-style: italic;
  font-size: 17px;
}

.style-alt {
  font-style: normal;
}

#about .desc-cv {
  padding-bottom: 14px;
}

/*
  https://gohugo.io/content-management/syntax-highlighting/
  hugo gen chromastyles --style=github > static/_syntax.css
*/

/* Background */
.chroma {
  background-color: #ffffff
}

/* Other */
.chroma .x {
}

/* Error */
.chroma .err {
  color: #a61717;
  background-color: #e3d2d2
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}

/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: #ffffcc
}

/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f
}

/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f
}

/* Keyword */
.chroma .k {
  color: #000000;
  font-weight: bold
}

/* KeywordConstant */
.chroma .kc {
  color: #000000;
  font-weight: bold
}

/* KeywordDeclaration */
.chroma .kd {
  color: #000000;
  font-weight: bold
}

/* KeywordNamespace */
.chroma .kn {
  color: #000000;
  font-weight: bold
}

/* KeywordPseudo */
.chroma .kp {
  color: #000000;
  font-weight: bold
}

/* KeywordReserved */
.chroma .kr {
  color: #000000;
  font-weight: bold
}

/* KeywordType */
.chroma .kt {
  color: #445588;
  font-weight: bold
}

/* Name */
.chroma .n {
}

/* NameAttribute */
.chroma .na {
  color: #008080
}

/* NameBuiltin */
.chroma .nb {
  color: #0086b3
}

/* NameBuiltinPseudo */
.chroma .bp {
  color: #999999
}

/* NameClass */
.chroma .nc {
  color: #445588;
  font-weight: bold
}

/* NameConstant */
.chroma .no {
  color: #008080
}

/* NameDecorator */
.chroma .nd {
  color: #3c5d5d;
  font-weight: bold
}

/* NameEntity */
.chroma .ni {
  color: #800080
}

/* NameException */
.chroma .ne {
  color: #990000;
  font-weight: bold
}

/* NameFunction */
.chroma .nf {
  color: #990000;
  font-weight: bold
}

/* NameFunctionMagic */
.chroma .fm {
}

/* NameLabel */
.chroma .nl {
  color: #990000;
  font-weight: bold
}

/* NameNamespace */
.chroma .nn {
  color: #555555
}

/* NameOther */
.chroma .nx {
}

/* NameProperty */
.chroma .py {
}

/* NameTag */
.chroma .nt {
  color: #000080
}

/* NameVariable */
.chroma .nv {
  color: #008080
}

/* NameVariableClass */
.chroma .vc {
  color: #008080
}

/* NameVariableGlobal */
.chroma .vg {
  color: #008080
}

/* NameVariableInstance */
.chroma .vi {
  color: #008080
}

/* NameVariableMagic */
.chroma .vm {
}

/* Literal */
.chroma .l {
}

/* LiteralDate */
.chroma .ld {
}

/* LiteralString */
.chroma .s {
  color: #dd1144
}

/* LiteralStringAffix */
.chroma .sa {
  color: #dd1144
}

/* LiteralStringBacktick */
.chroma .sb {
  color: #dd1144
}

/* LiteralStringChar */
.chroma .sc {
  color: #dd1144
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: #dd1144
}

/* LiteralStringDoc */
.chroma .sd {
  color: #dd1144
}

/* LiteralStringDouble */
.chroma .s2 {
  color: #dd1144
}

/* LiteralStringEscape */
.chroma .se {
  color: #dd1144
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: #dd1144
}

/* LiteralStringInterpol */
.chroma .si {
  color: #dd1144
}

/* LiteralStringOther */
.chroma .sx {
  color: #dd1144
}

/* LiteralStringRegex */
.chroma .sr {
  color: #009926
}

/* LiteralStringSingle */
.chroma .s1 {
  color: #dd1144
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #990073
}

/* LiteralNumber */
.chroma .m {
  color: #009999
}

/* LiteralNumberBin */
.chroma .mb {
  color: #009999
}

/* LiteralNumberFloat */
.chroma .mf {
  color: #009999
}

/* LiteralNumberHex */
.chroma .mh {
  color: #009999
}

/* LiteralNumberInteger */
.chroma .mi {
  color: #009999
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #009999
}

/* LiteralNumberOct */
.chroma .mo {
  color: #009999
}

/* Operator */
.chroma .o {
  color: #000000;
  font-weight: bold
}

/* OperatorWord */
.chroma .ow {
  color: #000000;
  font-weight: bold
}

/* Punctuation */
.chroma .p {
}

/* Comment */
.chroma .c {
  color: #999988;
  font-style: italic
}

/* CommentHashbang */
.chroma .ch {
  color: #999988;
  font-style: italic
}

/* CommentMultiline */
.chroma .cm {
  color: #999988;
  font-style: italic
}

/* CommentSingle */
.chroma .c1 {
  color: #999988;
  font-style: italic
}

/* CommentSpecial */
.chroma .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic
}

/* CommentPreproc */
.chroma .cp {
  color: #999999;
  font-weight: bold;
  font-style: italic
}

/* CommentPreprocFile */
.chroma .cpf {
  color: #999999;
  font-weight: bold;
  font-style: italic
}

/* Generic */
.chroma .g {
}

/* GenericDeleted */
.chroma .gd {
  color: #000000;
  background-color: #ffdddd
}

/* GenericEmph */
.chroma .ge {
  color: #000000;
  font-style: italic
}

/* GenericError */
.chroma .gr {
  color: #aa0000
}

/* GenericHeading */
.chroma .gh {
  color: #999999
}

/* GenericInserted */
.chroma .gi {
  color: #000000;
  background-color: #ddffdd
}

/* GenericOutput */
.chroma .go {
  color: #888888
}

/* GenericPrompt */
.chroma .gp {
  color: #555555
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold
}

/* GenericSubheading */
.chroma .gu {
  color: #aaaaaa
}

/* GenericTraceback */
.chroma .gt {
  color: #aa0000
}

/* GenericUnderline */
.chroma .gl {
  text-decoration: underline
}

/* TextWhitespace */
.chroma .w {
  color: #bbbbbb
}

/* -- box -- */

.content .box {
  padding: 30px 30px;
  margin: 1rem -1rem 1rem -2rem;
  background: #FFE4D0;
  border-radius: 4px;
  overflow: hidden;
}

.content .box .label {
  display: inline-block;
  width: 15rem;
}

.content .box .output {
  background: #EACEB8;
  margin: 2rem -2.2rem -2rem;
  padding: 15px calc(30px + 0.2rem);
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
}

.content .box input[type=text],
.content .box input {
  font-size: 16px;
  padding: 3px 10px;
  font-family: "JetBrains Mono", monospace;
}

.content .box input[type=button],
.content .box input[type=submit] {
  font-size: 16px;
  padding: 3px 10px;
  font-family: Nunito, sans-serif;
}
